In [61]:
import numpy as np
import pandas as pd
import os

In [62]:
fileName = [i for i in os.listdir() if i.startswith("Study")]
fileName

['Study14With_IE.xlsx',
 'Study15With_IE.xlsx',
 'Study16With_IE.xlsx',
 'Study17With_IE.xlsx',
 'Study6With_IE.xlsx',
 'StudySaraWith_IE.xlsx']

In [63]:
file1 = pd.read_excel(fileName[0],index_col=0)
file2 = pd.read_excel(fileName[1],index_col=0)
file3 = pd.read_excel(fileName[2],index_col=0)
file4 = pd.read_excel(fileName[3],index_col=0)
file5 = pd.read_excel(fileName[4],index_col=0)
file6 = pd.read_excel(fileName[5],index_col=0)

In [64]:
file1.head()

,ID,CATEGORY,DELAY,IP,IP_1000_VALUE,CUES,EXCITEMENT,VIVIDNESS,Expected_IP,Impulsitivity Effect/ Residuals,Impulsitivity/K
0,VT2MD206,EFT,30,IP30,992.2,In about a month I am unpacking moving boxes a...,5.0,5.0,999.183827,-6.983827,0.000027
1,VT2MD206,EFT,180,IP180,992.2,"In about 6 months I am on a cruise ship, I am ...",4.0,5.0,995.122865,-2.922865,0.000027
2,VT2MD206,EFT,365,IP365,992.2,In about a year I am at a cousins weekend get ...,NaN,NaN,990.159579,2.040421,0.000027
3,VT2MD204,EFT,30,IP30,992.2,NaN,NaN,NaN,999.183827,-6.983827,0.000027
4,VT2MD204,EFT,180,IP180,992.2,NaN,NaN,NaN,995.122865,-2.922865,0.000027

In [65]:
file1['ID'] = file1['ID'] + '_s14'

In [66]:
file1.head()

,ID,CATEGORY,DELAY,IP,IP_1000_VALUE,CUES,EXCITEMENT,VIVIDNESS,Expected_IP,Impulsitivity Effect/ Residuals,Impulsitivity/K
0,VT2MD206_s14,EFT,30,IP30,992.2,In about a month I am unpacking moving boxes a...,5.0,5.0,999.183827,-6.983827,0.000027
1,VT2MD206_s14,EFT,180,IP180,992.2,"In about 6 months I am on a cruise ship, I am ...",4.0,5.0,995.122865,-2.922865,0.000027
2,VT2MD206_s14,EFT,365,IP365,992.2,In about a year I am at a cousins weekend get ...,NaN,NaN,990.159579,2.040421,0.000027
3,VT2MD204_s14,EFT,30,IP30,992.2,NaN,NaN,NaN,999.183827,-6.983827,0.000027
4,VT2MD204_s14,EFT,180,IP180,992.2,NaN,NaN,NaN,995.122865,-2.922865,0.000027

In [67]:
file1_ = file1[file1['CUES'].notnull()]
file1_ = file1_[file1_['IP_1000_VALUE'].notnull()].reset_index(drop=True)
file1_.drop(['EXCITEMENT','VIVIDNESS'],axis=1,inplace=True)
file1_.head()

,ID,CATEGORY,DELAY,IP,IP_1000_VALUE,CUES,Expected_IP,Impulsitivity Effect/ Residuals,Impulsitivity/K
0,VT2MD206_s14,EFT,30,IP30,992.2,In about a month I am unpacking moving boxes a...,999.183827,-6.983827,0.000027
1,VT2MD206_s14,EFT,180,IP180,992.2,"In about 6 months I am on a cruise ship, I am ...",995.122865,-2.922865,0.000027
2,VT2MD206_s14,EFT,365,IP365,992.2,In about a year I am at a cousins weekend get ...,990.159579,2.040421,0.000027
3,VT2MD206_s14,EFT,30,IP30,992.2,In about a month I am unpacking moving boxes a...,999.183827,-6.983827,0.000027
4,VT2MD206_s14,EFT,180,IP180,992.2,"In about 6 months I am on a cruise ship, I am ...",995.122865,-2.922865,0.000027

In [68]:
file1_.isnull().sum()

ID                                 0
CATEGORY                           0
DELAY                              0
IP                                 0
IP_1000_VALUE                      0
CUES                               0
Expected_IP                        0
Impulsitivity Effect/ Residuals    0
Impulsitivity/K                    0
dtype: int64

In [69]:
file1_.shape

(254, 9)

In [70]:
file1_ = file1_.drop_duplicates(subset=['CUES'],keep="first").reset_index(drop=True)
file1_.head()

,ID,CATEGORY,DELAY,IP,IP_1000_VALUE,CUES,Expected_IP,Impulsitivity Effect/ Residuals,Impulsitivity/K
0,VT2MD206_s14,EFT,30,IP30,992.20,In about a month I am unpacking moving boxes a...,999.183827,-6.983827,0.000027
1,VT2MD206_s14,EFT,180,IP180,992.20,"In about 6 months I am on a cruise ship, I am ...",995.122865,-2.922865,0.000027
2,VT2MD206_s14,EFT,365,IP365,992.20,In about a year I am at a cousins weekend get ...,990.159579,2.040421,0.000027
3,VT2MD209_s14,EFT,30,IP30,992.20,In about 1 month I am at the farm with my cowo...,955.996591,36.203409,0.001534
4,VT2MD209_s14,EFT,180,IP180,976.56,In about 6 months I am at the lake. I am with ...,783.592817,192.967183,0.001534

In [71]:
file1_.shape

(125, 9)

In [72]:
file2.head()

,ID,CATEGORY,DELAY,IP,IP VALUE,IP_1000_VALUE,CUES,EXCITEMENT,VIVIDNESS,Expected_IP,Impulsitivity Effect/ Residuals,Impulsitivity/K
0,1,EFT,30,IP30,22.66,23.44,"In about 1 month, I am going fishing with my f...",5 - Very Much,5 - Very Much,54.945327,-31.505327,0.57333
1,1,EFT,90,IP90,19.54,101.56,"In about 3 months, I am eating dinner with my ...",5 - Very Much,5 - Very Much,19.011505,82.548495,0.57333
2,1,EFT,365,IP365,2.34,23.44,"In about 1 year, I am going deer hunting with ...",5 - Very Much,4,4.755890,18.684110,0.57333
3,1,EFT,1825,IP1825,0.78,7.80,"In about 5 years, I am attending my sister's r...",4,4,0.954811,6.845189,0.57333
4,1,EFT,9125,IP9125,0.78,7.80,"In about 25 years, I am having cake and ice cr...",NaN,NaN,0.191108,7.608892,0.57333

In [73]:
file2_ = file2[file2['CUES'].notnull()]
file2_ = file2_[file2_['IP_1000_VALUE'].notnull()].reset_index(drop=True)
file2_.drop(['EXCITEMENT','VIVIDNESS'],axis=1,inplace=True)
file2_.head()

,ID,CATEGORY,DELAY,IP,IP VALUE,IP_1000_VALUE,CUES,Expected_IP,Impulsitivity Effect/ Residuals,Impulsitivity/K
0,1,EFT,30,IP30,22.66,23.44,"In about 1 month, I am going fishing with my f...",54.945327,-31.505327,0.57333
1,1,EFT,90,IP90,19.54,101.56,"In about 3 months, I am eating dinner with my ...",19.011505,82.548495,0.57333
2,1,EFT,365,IP365,2.34,23.44,"In about 1 year, I am going deer hunting with ...",4.755890,18.684110,0.57333
3,1,EFT,1825,IP1825,0.78,7.80,"In about 5 years, I am attending my sister's r...",0.954811,6.845189,0.57333
4,1,EFT,9125,IP9125,0.78,7.80,"In about 25 years, I am having cake and ice cr...",0.191108,7.608892,0.57333

In [74]:
file2_.isnull().sum()

ID                                 0
CATEGORY                           0
DELAY                              0
IP                                 0
IP VALUE                           1
IP_1000_VALUE                      0
CUES                               0
Expected_IP                        0
Impulsitivity Effect/ Residuals    0
Impulsitivity/K                    0
dtype: int64

In [75]:
file2_.drop(['IP VALUE'],axis=1,inplace=True)

In [76]:
file2_.isnull().sum()

ID                                 0
CATEGORY                           0
DELAY                              0
IP                                 0
IP_1000_VALUE                      0
CUES                               0
Expected_IP                        0
Impulsitivity Effect/ Residuals    0
Impulsitivity/K                    0
dtype: int64

In [77]:
file2_['ID'] = file2_['ID'].astype('str') + '_s15'

In [78]:
file2_.head()

,ID,CATEGORY,DELAY,IP,IP_1000_VALUE,CUES,Expected_IP,Impulsitivity Effect/ Residuals,Impulsitivity/K
0,1_s15,EFT,30,IP30,23.44,"In about 1 month, I am going fishing with my f...",54.945327,-31.505327,0.57333
1,1_s15,EFT,90,IP90,101.56,"In about 3 months, I am eating dinner with my ...",19.011505,82.548495,0.57333
2,1_s15,EFT,365,IP365,23.44,"In about 1 year, I am going deer hunting with ...",4.755890,18.684110,0.57333
3,1_s15,EFT,1825,IP1825,7.80,"In about 5 years, I am attending my sister's r...",0.954811,6.845189,0.57333
4,1_s15,EFT,9125,IP9125,7.80,"In about 25 years, I am having cake and ice cr...",0.191108,7.608892,0.57333

In [79]:
file2_.shape

(231, 9)

In [80]:
file2_ = file2_.drop_duplicates(subset=['CUES'],keep="first").reset_index(drop=True)
file2_.head()

,ID,CATEGORY,DELAY,IP,IP_1000_VALUE,CUES,Expected_IP,Impulsitivity Effect/ Residuals,Impulsitivity/K
0,1_s15,EFT,30,IP30,23.44,"In about 1 month, I am going fishing with my f...",54.945327,-31.505327,0.57333
1,1_s15,EFT,90,IP90,101.56,"In about 3 months, I am eating dinner with my ...",19.011505,82.548495,0.57333
2,1_s15,EFT,365,IP365,23.44,"In about 1 year, I am going deer hunting with ...",4.755890,18.684110,0.57333
3,1_s15,EFT,1825,IP1825,7.80,"In about 5 years, I am attending my sister's r...",0.954811,6.845189,0.57333
4,1_s15,EFT,9125,IP9125,7.80,"In about 25 years, I am having cake and ice cr...",0.191108,7.608892,0.57333

In [81]:
file2_.shape

(231, 9)

In [82]:
file3.head()

,ID,CATEGORY,AUC EFT/ERT,BAUC,DELAY,IP,IP VALUE,cue original,CUES,Expected_IP,Impulsitivity Effect/ Residuals,Impulsitivity/K
0,1 MS1001,EFT,0.410466,0.0078,30,IP30,49.22,About 2 weeks from now I am visitingmy husband...,About 2 weeks from now I am visiting my husban...,67.903093,-18.683093,0.015756
1,1 MS1001,EFT,0.410466,0.9922,180,IP180,49.22,"In 6 months, I am visiting my mother in law. S...","In 6 months, I am visiting my mother in law. S...",26.067994,23.152006,0.015756
2,1 MS1001,EFT,0.410466,0.9434,365,IP365,11.72,In one year we are picking up my husband from ...,In one year we are picking up my husband from ...,14.812566,-3.092566,0.015756
3,2 MS1002,EFT,0.896712,0.6699,30,IP30,89.84,In 7 months I AM AT THE INN OF THE MOUNTAIN GO...,In 7 months I AM AT THE INN OF THE MOUNTAIN GO...,98.789097,-8.949097,0.000409
4,2 MS1002,EFT,0.896712,0.9922,180,IP180,89.84,I 5 mins the I will be at the July 4th fire wo...,In 5 mins I will be at the July 4th fireworks ...,93.149356,-3.309356,0.000409

In [83]:
file3_ = file3[file3['CUES'].notnull()]
file3_ = file3_[file3_['IP VALUE'].notnull()].reset_index(drop=True)
file3_.drop(['AUC EFT/ERT', 'BAUC','cue original'],axis=1,inplace=True)
file3_.head()

,ID,CATEGORY,DELAY,IP,IP VALUE,CUES,Expected_IP,Impulsitivity Effect/ Residuals,Impulsitivity/K
0,1 MS1001,EFT,30,IP30,49.22,About 2 weeks from now I am visiting my husban...,67.903093,-18.683093,0.015756
1,1 MS1001,EFT,180,IP180,49.22,"In 6 months, I am visiting my mother in law. S...",26.067994,23.152006,0.015756
2,1 MS1001,EFT,365,IP365,11.72,In one year we are picking up my husband from ...,14.812566,-3.092566,0.015756
3,2 MS1002,EFT,30,IP30,89.84,In 7 months I AM AT THE INN OF THE MOUNTAIN GO...,98.789097,-8.949097,0.000409
4,2 MS1002,EFT,180,IP180,89.84,In 5 mins I will be at the July 4th fireworks ...,93.149356,-3.309356,0.000409

In [84]:
file3_.isnull().sum()

ID                                 0
CATEGORY                           0
DELAY                              0
IP                                 0
IP VALUE                           0
CUES                               0
Expected_IP                        0
Impulsitivity Effect/ Residuals    0
Impulsitivity/K                    0
dtype: int64

In [85]:
file3_['ID'] = file3_['ID'].astype('str') + '_s16'

In [86]:
file3_.head()

,ID,CATEGORY,DELAY,IP,IP VALUE,CUES,Expected_IP,Impulsitivity Effect/ Residuals,Impulsitivity/K
0,1 MS1001_s16,EFT,30,IP30,49.22,About 2 weeks from now I am visiting my husban...,67.903093,-18.683093,0.015756
1,1 MS1001_s16,EFT,180,IP180,49.22,"In 6 months, I am visiting my mother in law. S...",26.067994,23.152006,0.015756
2,1 MS1001_s16,EFT,365,IP365,11.72,In one year we are picking up my husband from ...,14.812566,-3.092566,0.015756
3,2 MS1002_s16,EFT,30,IP30,89.84,In 7 months I AM AT THE INN OF THE MOUNTAIN GO...,98.789097,-8.949097,0.000409
4,2 MS1002_s16,EFT,180,IP180,89.84,In 5 mins I will be at the July 4th fireworks ...,93.149356,-3.309356,0.000409

In [87]:
file3_.shape

(447, 9)

In [88]:
file3_ = file3_.drop_duplicates(subset=['CUES'],keep="first").reset_index(drop=True)
file3_.head()

,ID,CATEGORY,DELAY,IP,IP VALUE,CUES,Expected_IP,Impulsitivity Effect/ Residuals,Impulsitivity/K
0,1 MS1001_s16,EFT,30,IP30,49.22,About 2 weeks from now I am visiting my husban...,67.903093,-18.683093,0.015756
1,1 MS1001_s16,EFT,180,IP180,49.22,"In 6 months, I am visiting my mother in law. S...",26.067994,23.152006,0.015756
2,1 MS1001_s16,EFT,365,IP365,11.72,In one year we are picking up my husband from ...,14.812566,-3.092566,0.015756
3,2 MS1002_s16,EFT,30,IP30,89.84,In 7 months I AM AT THE INN OF THE MOUNTAIN GO...,98.789097,-8.949097,0.000409
4,2 MS1002_s16,EFT,180,IP180,89.84,In 5 mins I will be at the July 4th fireworks ...,93.149356,-3.309356,0.000409

In [89]:
file3_.shape

(446, 9)

In [90]:
file4.head()

,ID,CATEGORY,DELAY,IP,IP VALUE,CUES,EXCITEMENT,VIVIDNESS,Expected_IP,Impulsitivity Effect/ Residuals,Impulsitivity/K
0,1,EFT,30,IP30,24.22,"""In about 1 month I will at my daughters previ...",5.0,5.0,92.573458,-68.353458,0.002674
1,1,EFT,90,IP90,44.54,In about 6 months I am at Walt Disney World Ma...,5.0,5.0,80.601629,-36.061629,0.002674
2,1,EFT,365,IP365,38.28,In about 1 year I am going to be moving into a...,NaN,NaN,50.606023,-12.326023,0.002674
3,2,EFT,30,IP30,86.72,"Incidentally, the other person living with me ...",5.0,5.0,98.873904,-12.153904,0.000380
4,2,EFT,90,IP90,0.78,I will be applying for Social Security online....,5.0,5.0,96.696122,-95.916122,0.000380

In [91]:
file4_ = file4[file4['CUES'].notnull()]
file4_ = file4_[file4_['IP VALUE'].notnull()].reset_index(drop=True)
file4_.drop(['EXCITEMENT','VIVIDNESS'],axis=1,inplace=True)
file4_.head()

,ID,CATEGORY,DELAY,IP,IP VALUE,CUES,Expected_IP,Impulsitivity Effect/ Residuals,Impulsitivity/K
0,1,EFT,30,IP30,24.22,"""In about 1 month I will at my daughters previ...",92.573458,-68.353458,0.002674
1,1,EFT,90,IP90,44.54,In about 6 months I am at Walt Disney World Ma...,80.601629,-36.061629,0.002674
2,1,EFT,365,IP365,38.28,In about 1 year I am going to be moving into a...,50.606023,-12.326023,0.002674
3,2,EFT,30,IP30,86.72,"Incidentally, the other person living with me ...",98.873904,-12.153904,0.000380
4,2,EFT,90,IP90,0.78,I will be applying for Social Security online....,96.696122,-95.916122,0.000380

In [92]:
file4_.isnull().sum()

ID                                 0
CATEGORY                           0
DELAY                              0
IP                                 0
IP VALUE                           0
CUES                               0
Expected_IP                        0
Impulsitivity Effect/ Residuals    0
Impulsitivity/K                    0
dtype: int64

In [93]:
file4_['ID'] = file4_['ID'].astype('str') + '_s17'

In [94]:
file4_.head()

,ID,CATEGORY,DELAY,IP,IP VALUE,CUES,Expected_IP,Impulsitivity Effect/ Residuals,Impulsitivity/K
0,1_s17,EFT,30,IP30,24.22,"""In about 1 month I will at my daughters previ...",92.573458,-68.353458,0.002674
1,1_s17,EFT,90,IP90,44.54,In about 6 months I am at Walt Disney World Ma...,80.601629,-36.061629,0.002674
2,1_s17,EFT,365,IP365,38.28,In about 1 year I am going to be moving into a...,50.606023,-12.326023,0.002674
3,2_s17,EFT,30,IP30,86.72,"Incidentally, the other person living with me ...",98.873904,-12.153904,0.000380
4,2_s17,EFT,90,IP90,0.78,I will be applying for Social Security online....,96.696122,-95.916122,0.000380

In [95]:
file4_.shape

(105, 9)

In [96]:
file4_ = file4_.drop_duplicates(subset=['CUES'],keep="first").reset_index(drop=True)
file4_.head()

,ID,CATEGORY,DELAY,IP,IP VALUE,CUES,Expected_IP,Impulsitivity Effect/ Residuals,Impulsitivity/K
0,1_s17,EFT,30,IP30,24.22,"""In about 1 month I will at my daughters previ...",92.573458,-68.353458,0.002674
1,1_s17,EFT,90,IP90,44.54,In about 6 months I am at Walt Disney World Ma...,80.601629,-36.061629,0.002674
2,1_s17,EFT,365,IP365,38.28,In about 1 year I am going to be moving into a...,50.606023,-12.326023,0.002674
3,2_s17,EFT,30,IP30,86.72,"Incidentally, the other person living with me ...",98.873904,-12.153904,0.000380
4,2_s17,EFT,90,IP90,0.78,I will be applying for Social Security online....,96.696122,-95.916122,0.000380

In [97]:
file4_.shape

(105, 9)

In [98]:
file5.head()

,ID,CATEGORY,DELAY,IP,IP VALUE,CUES,EXCITEMENT,VIVIDNESS,Expected_IP,Impulsitivity Effect/ Residuals,Impulsitivity/K
0,102,EFT,30,IP30,99.22,In about two months my son Brian and I are at ...,5,5,93.696775,5.523225,0.002242
1,102,EFT,180,IP180,89.84,In about two months my son Brian and I are at ...,5,5,71.243565,18.596435,0.002242
2,102,EFT,365,IP365,38.28,In about one year my son Brian and I are at Si...,4,4,54.990885,-16.710885,0.002242
3,103,EFT,30,IP30,74.22,Sophia and I will be arriving early at Canobie...,5,5,95.802217,-21.582217,0.001461
4,103,EFT,180,IP180,74.22,Sophia and I will be arriving early at Canobie...,5,5,79.182640,-4.962640,0.001461

In [99]:
file5_ = file5[file5['CUES'].notnull()]
file5_ = file5_[file5_['IP VALUE'].notnull()].reset_index(drop=True)
file5_.drop(['EXCITEMENT','VIVIDNESS'],axis=1,inplace=True)
file5_.head()

,ID,CATEGORY,DELAY,IP,IP VALUE,CUES,Expected_IP,Impulsitivity Effect/ Residuals,Impulsitivity/K
0,102,EFT,30,IP30,99.22,In about two months my son Brian and I are at ...,93.696775,5.523225,0.002242
1,102,EFT,180,IP180,89.84,In about two months my son Brian and I are at ...,71.243565,18.596435,0.002242
2,102,EFT,365,IP365,38.28,In about one year my son Brian and I are at Si...,54.990885,-16.710885,0.002242
3,103,EFT,30,IP30,74.22,Sophia and I will be arriving early at Canobie...,95.802217,-21.582217,0.001461
4,103,EFT,180,IP180,74.22,Sophia and I will be arriving early at Canobie...,79.182640,-4.962640,0.001461

In [100]:
file5_.isnull().sum()

ID                                 0
CATEGORY                           0
DELAY                              0
IP                                 0
IP VALUE                           0
CUES                               0
Expected_IP                        0
Impulsitivity Effect/ Residuals    0
Impulsitivity/K                    0
dtype: int64

In [101]:
file5_['ID'] = file5_['ID'].astype('str') + '_s6'

In [102]:
file5_.head()

,ID,CATEGORY,DELAY,IP,IP VALUE,CUES,Expected_IP,Impulsitivity Effect/ Residuals,Impulsitivity/K
0,102_s6,EFT,30,IP30,99.22,In about two months my son Brian and I are at ...,93.696775,5.523225,0.002242
1,102_s6,EFT,180,IP180,89.84,In about two months my son Brian and I are at ...,71.243565,18.596435,0.002242
2,102_s6,EFT,365,IP365,38.28,In about one year my son Brian and I are at Si...,54.990885,-16.710885,0.002242
3,103_s6,EFT,30,IP30,74.22,Sophia and I will be arriving early at Canobie...,95.802217,-21.582217,0.001461
4,103_s6,EFT,180,IP180,74.22,Sophia and I will be arriving early at Canobie...,79.182640,-4.962640,0.001461

In [103]:
file5_.shape

(243, 9)

In [104]:
file5_ = file5_.drop_duplicates(subset=['CUES'],keep="first").reset_index(drop=True)
file5_.head()

,ID,CATEGORY,DELAY,IP,IP VALUE,CUES,Expected_IP,Impulsitivity Effect/ Residuals,Impulsitivity/K
0,102_s6,EFT,30,IP30,99.22,In about two months my son Brian and I are at ...,93.696775,5.523225,0.002242
1,102_s6,EFT,365,IP365,38.28,In about one year my son Brian and I are at Si...,54.990885,-16.710885,0.002242
2,103_s6,EFT,30,IP30,74.22,Sophia and I will be arriving early at Canobie...,95.802217,-21.582217,0.001461
3,103_s6,EFT,365,IP365,72.66,Sophia and I will be arriving early next year ...,65.226933,7.433067,0.001461
4,107_s6,EFT,30,IP30,99.22,In about 1 month my son Christian and I are at...,99.918383,-0.698383,0.000027

In [105]:
file5_.shape

(162, 9)

In [106]:
file6.head()

,ID,CATEGORY,DELAY,IP,IP VALUE,CUES,EXCITEMENT,VIVIDNESS,Expected_IP,Impulsitivity Effect/ Residuals,Impulsitivity/K
0,1,EFT,30,IP30,99.22,In about 1 month I am at the zoo. I am with my...,5,5,92.573458,6.646542,0.002674
1,1,EFT,180,IP180,99.22,In about 6 months I am at the beach. I am with...,5,5,67.506474,31.713526,0.002674
2,1,EFT,730,IP730,0.78,In about 2 years I am at the courthouse gettin...,5,5,33.874206,-33.094206,0.002674
3,2,EFT,30,IP30,94.54,In about 1 month I am on vacation in Italy. My...,4,5,98.873904,-4.333904,0.000380
4,2,EFT,180,IP180,88.28,In about 6 months I am at Disneyworld. My husb...,5,5,93.603574,-5.323574,0.000380

In [107]:
file6_ = file6[file6['CUES'].notnull()]
file6_ = file6_[file6_['IP VALUE'].notnull()].reset_index(drop=True)
file6_.drop(['EXCITEMENT','VIVIDNESS'],axis=1,inplace=True)
file6_.head()

,ID,CATEGORY,DELAY,IP,IP VALUE,CUES,Expected_IP,Impulsitivity Effect/ Residuals,Impulsitivity/K
0,1,EFT,30,IP30,99.22,In about 1 month I am at the zoo. I am with my...,92.573458,6.646542,0.002674
1,1,EFT,180,IP180,99.22,In about 6 months I am at the beach. I am with...,67.506474,31.713526,0.002674
2,1,EFT,730,IP730,0.78,In about 2 years I am at the courthouse gettin...,33.874206,-33.094206,0.002674
3,2,EFT,30,IP30,94.54,In about 1 month I am on vacation in Italy. My...,98.873904,-4.333904,0.000380
4,2,EFT,180,IP180,88.28,In about 6 months I am at Disneyworld. My husb...,93.603574,-5.323574,0.000380

In [108]:
file6_.isnull().sum()

ID                                 0
CATEGORY                           0
DELAY                              0
IP                                 0
IP VALUE                           0
CUES                               0
Expected_IP                        3
Impulsitivity Effect/ Residuals    3
Impulsitivity/K                    3
dtype: int64

In [109]:
file6_ = file6_[file6_['Expected_IP'].notnull()].reset_index(drop=True)

In [110]:
file6_.isnull().sum()

ID                                 0
CATEGORY                           0
DELAY                              0
IP                                 0
IP VALUE                           0
CUES                               0
Expected_IP                        0
Impulsitivity Effect/ Residuals    0
Impulsitivity/K                    0
dtype: int64

In [111]:
file6_['ID'] = file6_['ID'].astype('str') + '_ssara'

In [112]:
file6_.head()

,ID,CATEGORY,DELAY,IP,IP VALUE,CUES,Expected_IP,Impulsitivity Effect/ Residuals,Impulsitivity/K
0,1_ssara,EFT,30,IP30,99.22,In about 1 month I am at the zoo. I am with my...,92.573458,6.646542,0.002674
1,1_ssara,EFT,180,IP180,99.22,In about 6 months I am at the beach. I am with...,67.506474,31.713526,0.002674
2,1_ssara,EFT,730,IP730,0.78,In about 2 years I am at the courthouse gettin...,33.874206,-33.094206,0.002674
3,2_ssara,EFT,30,IP30,94.54,In about 1 month I am on vacation in Italy. My...,98.873904,-4.333904,0.000380
4,2_ssara,EFT,180,IP180,88.28,In about 6 months I am at Disneyworld. My husb...,93.603574,-5.323574,0.000380

In [113]:
file6_.shape

(120, 9)

In [114]:
file6_ = file6_.drop_duplicates(subset=['CUES'],keep="first").reset_index(drop=True)
file6_.head()

,ID,CATEGORY,DELAY,IP,IP VALUE,CUES,Expected_IP,Impulsitivity Effect/ Residuals,Impulsitivity/K
0,1_ssara,EFT,30,IP30,99.22,In about 1 month I am at the zoo. I am with my...,92.573458,6.646542,0.002674
1,1_ssara,EFT,180,IP180,99.22,In about 6 months I am at the beach. I am with...,67.506474,31.713526,0.002674
2,1_ssara,EFT,730,IP730,0.78,In about 2 years I am at the courthouse gettin...,33.874206,-33.094206,0.002674
3,2_ssara,EFT,30,IP30,94.54,In about 1 month I am on vacation in Italy. My...,98.873904,-4.333904,0.000380
4,2_ssara,EFT,180,IP180,88.28,In about 6 months I am at Disneyworld. My husb...,93.603574,-5.323574,0.000380

In [115]:
file6_.shape

(119, 9)

In [116]:
# Renaming IP_1000_VALUE to IP VALUE in order to concatenate all files
file1_.rename({'IP_1000_VALUE':'IP VALUE'},axis=1,inplace=True)
file2_.rename({'IP_1000_VALUE':'IP VALUE'},axis=1,inplace=True)

In [117]:
df = pd.concat([file1_,file2_,file3_,file4_,file5_,file6_])
df.head()

,ID,CATEGORY,DELAY,IP,IP VALUE,CUES,Expected_IP,Impulsitivity Effect/ Residuals,Impulsitivity/K
0,VT2MD206_s14,EFT,30,IP30,992.2,In about a month I am unpacking moving boxes a...,999.183827,-6.983827,0.000027
1,VT2MD206_s14,EFT,180,IP180,992.2,"In about 6 months I am on a cruise ship, I am ...",995.122865,-2.922865,0.000027
2,VT2MD206_s14,EFT,365,IP365,992.2,In about a year I am at a cousins weekend get ...,990.159579,2.040421,0.000027
3,VT2MD209_s14,EFT,30,IP30,992.2,In about 1 month I am at the farm with my cowo...,955.996591,36.203409,0.001534
4,VT2MD209_s14,EFT,180,IP180,976.56,In about 6 months I am at the lake. I am with ...,783.592817,192.967183,0.001534

In [118]:
df.shape

(1188, 9)

In [119]:
df.isnull().sum()

ID                                 0
CATEGORY                           0
DELAY                              0
IP                                 0
IP VALUE                           0
CUES                               0
Expected_IP                        0
Impulsitivity Effect/ Residuals    0
Impulsitivity/K                    0
dtype: int64

In [120]:
df.to_excel("Main.xlsx")